<lib-paged-datatable
  [disabled]="false"
  [page]="page"
  [stride]="100"
  [loading]="loading"
  #table
  stickyKey="lib.test-table">

  <lib-no-data-on-page>
    <span *ngIf="!page">
      Enter search criteria and hit FILTER
    </span>
    <span *ngIf="page && !page.maxItems">
      No results match your filter criteria
    </span>
  </lib-no-data-on-page>

  <thead>
    <tr>

      <th></th>

      <th
        *ngFor="let column of columns">
        <lib-sortable-column
          [column]="column.field"
          [sticky]="true">
          {{column.header}}
        </lib-sortable-column>
      </th>

      <th></th>

    </tr>
  </thead>

  <tbody>
    <tr
      (click)="table.select(item)"
      [class.selected]="table.isSelected(item)"
      *ngFor="let item of page?.items; let ix = index">

      <td index>{{page.index + ix + 1}}.</td>

      <td
        *ngFor="let column of columns">
        {{item[column.field]}}
      </td>

      <td>
        <lib-tiny-button
          faIcon="cog"
          tooltip="This does nothing">
          Setup
        </lib-tiny-button>
      </td>

    </tr>
  </tbody>

</lib-paged-datatable>
