<pi-polymer-form
  #form
  focus="name"
  fxLayout="column"
  fxLayoutAlign="start stretch"
  fxLayoutGap="16px"
  key="x.y">

  <div>
    <paper-input
      [sticky]="true"
      auto-validate
      error-message="Age must be between 18 and 70"
      label="Age"
      max="70"
      min="18"
      name="age"
      piPolymerControl
      prevent-invalid-input
      required
      type="number">
    </paper-input>
  </div>

  <!-- <div NOTE: bug in fxFlex hides children from QueryList
    fxFlexLayout="row"
    fxLayoutAlign="space-between center"> -->
  <div style="display: flex; justify-content: space-between">
    <paper-checkbox
      [sticky]="true"
      piPolymerControl
      name="red">
      Red
    </paper-checkbox>
    <paper-checkbox
      [sticky]="true"
      piPolymerControl
      name="green">
      Green
    </paper-checkbox>
    <paper-checkbox
      [sticky]="true"
      piPolymerControl
      name="blue">
      Blue
    </paper-checkbox>
  </div>

  <div>
    <paper-input
      [sticky]="true"
      auto-validate
      error-message="Name is always required"
      label="Name"
      name="name"
      piPolymerControl
      prevent-invalid-input
      required
      type="text">
      <div slot="suffix">
        <paper-icon-button
          (click)="form.clear('name')"
          icon="clear">
        </paper-icon-button>
        <paper-tooltip>Clear name</paper-tooltip>
      </div>
    </paper-input>
  </div>

  <div>
    <paper-radio-group
      [sticky]="true"
      piPolymerControl
      name="gender">
      <paper-radio-button
        name="male">
        Male
      </paper-radio-button>
      <paper-radio-button
        name="female">
        Female
      </paper-radio-button>
    </paper-radio-group>
  </div>

  <div>
    <paper-toggle-button
      [sticky]="true"
      piPolymerControl
      name="active">
      Active on/off
    </paper-toggle-button>
  </div>

  <div>
    <div>Severity</div>
    <paper-slider
      [sticky]="true"
      expand
      max="100"
      min="0"
      name="severity"
      piPolymerControl
      primary
      snap
      style="width: 100%">
    </paper-slider>
  </div>

  <div>
    <paper-input
      [sticky]="true"
      label="Count"
      name="count"
      piPolymerControl
      type="number">
    </paper-input>
  </div>

  <div>
    <pi-multi-selector
      [items]="feedIDs"
      [required]="true"
      [sticky]="true"
      errorMessage="Feed IDs are always required"
      label="Feed IDs"
      name="feedIDs"
      piPolymerControl
      separator=",">
    </pi-multi-selector>
  </div>

  <div
    fxFlexLayout="row"
    fxLayoutAlign="end center"
    fxLayoutGap="16px">
    <paper-button
      (click)="form.reset()">
      Reset
    </paper-button>
    <paper-button
      (click)="form.submit()"
      [disabled]="!form.isValid()"
      *ngIf="!working"
      primary
      raised>
      Submit
    </paper-button>
    <paper-spinner
      [active]="working"
      *ngIf="working">
    </paper-spinner>
  </div>

</pi-polymer-form>
